In [13]:
import pandas as pd

# Sample CSV data (use your actual URL or file path)
url = 'http://aklc.hydrotel.co.nz:8080/KiWIS/KiWIS?service=kisters&type=queryServices&request=getTimeseriesValues&datasource=1&format=csv&ts_id=2860&from=2006-01-01'

# Read the CSV file with semicolon as the delimiter
df = pd.read_csv(url, delimiter=';')

# Display the DataFrame
print(df)

# Save the DataFrame to a local CSV file
output_file = r'test_NO2_07112024.csv'

                               #ts_id    2860
0                               #rows  155401
1                          #Timestamp   Value
2       2006-01-01T00:00:00.000+12:00     1.2
3       2006-01-01T01:00:00.000+12:00     0.8
4       2006-01-01T02:00:00.000+12:00     0.5
...                               ...     ...
155398  2025-01-07T20:00:00.000+12:00     0.9
155399  2025-01-07T21:00:00.000+12:00     1.3
155400  2025-01-07T22:00:00.000+12:00     1.6
155401  2025-01-07T23:00:00.000+12:00     0.9
155402  2025-01-08T00:00:00.000+12:00     1.3

[155403 rows x 2 columns]

In [14]:
df=df[2:]
df.columns = ['Timestamp','Value']
df=df.reset_index(drop=True)
df

                            Timestamp Value
0       2006-01-01T00:00:00.000+12:00   1.2
1       2006-01-01T01:00:00.000+12:00   0.8
2       2006-01-01T02:00:00.000+12:00   0.5
3       2006-01-01T03:00:00.000+12:00   0.4
4       2006-01-01T04:00:00.000+12:00   0.4
...                               ...   ...
155396  2025-01-07T20:00:00.000+12:00   0.9
155397  2025-01-07T21:00:00.000+12:00   1.3
155398  2025-01-07T22:00:00.000+12:00   1.6
155399  2025-01-07T23:00:00.000+12:00   0.9
155400  2025-01-08T00:00:00.000+12:00   1.3

[155401 rows x 2 columns]

In [15]:
df.to_csv(output_file,index=False)