In [1]:
import pandas as pd

df = pd.read_csv('NO2_07112024 copy 2.csv', delimiter=';')

In [2]:
df

                            Timestamp  Value
0       2006-01-01T00:00:00.000+12:00    1.2
1       2006-01-01T01:00:00.000+12:00    0.8
2       2006-01-01T02:00:00.000+12:00    0.5
3       2006-01-01T03:00:00.000+12:00    0.4
4       2006-01-01T04:00:00.000+12:00    0.4
...                               ...    ...
154556  2024-12-03T20:00:00.000+12:00    5.4
154557  2024-12-03T21:00:00.000+12:00    8.3
154558  2024-12-03T22:00:00.000+12:00   10.6
154559  2024-12-03T23:00:00.000+12:00    5.3
154560  2024-12-04T00:00:00.000+12:00   11.6

[154561 rows x 2 columns]

In [3]:
df_new=df[153913:]

In [4]:
df_new.to_csv('New.csv',index=False)

In [6]:
df_test = df_new.drop('Value',axis=1)
df_test

                            Timestamp
153913  2024-11-07T01:00:00.000+12:00
153914  2024-11-07T02:00:00.000+12:00
153915  2024-11-07T03:00:00.000+12:00
153916  2024-11-07T04:00:00.000+12:00
153917  2024-11-07T05:00:00.000+12:00
...                               ...
154556  2024-12-03T20:00:00.000+12:00
154557  2024-12-03T21:00:00.000+12:00
154558  2024-12-03T22:00:00.000+12:00
154559  2024-12-03T23:00:00.000+12:00
154560  2024-12-04T00:00:00.000+12:00

[648 rows x 1 columns]

In [7]:
df_test.to_csv('Test_new.csv',index=False)